.btn.btn-custom-edit {
    background-color: #4caf50 !important; /* Green */
    color: white !important;
    border: none !important;
}

.btn.btn-custom-edit:hover {
    background-color: #45a049 !important; /* Darker Green */
    color: white !important;
}

.btn.btn-custom-delete {
    background-color: #f44336 !important; /* Red */
    color: white !important;
    border: none !important;
}

.btn.btn-custom-delete:hover {
    background-color: #d32f2f !important; /* Darker Red */
    color: white !important;
}
.highlight {
    background: linear-gradient(
        90deg,
        #57cc99,
        #80ed99
    ); /* Adjust colors as needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes the text fill transparent */
    background-clip: text; /* For non-WebKit browsers */
    font-weight: bold; /* Make it bold */
}
